body{overflow: hidden;}

#shell {
	width: 90%;
	position: relative;
	margin: 0 auto;
	height: 30em;
}

button {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 0;
	border: 4px solid rgb(0,0,0);
	background: rgb(255,255,255);
}

#shellafter {
	content: "";
	background: rgb(100,0,0);
	position: absolute;
	top:0;
	float: left;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index: -1;
	background:
-webkit-linear-gradient(135deg, #708090 22px, rgb(100,0,0) 22px, rgb(100,0,0) 24px, transparent 24px, transparent 67px, rgb(100,0,0) 67px, rgb(100,0,0) 69px, transparent 69px),
-webkit-linear-gradient(225deg, #708090 22px, rgb(100,0,0) 22px, rgb(100,0,0) 24px, transparent 24px, transparent 67px, rgb(100,0,0) 67px, rgb(100,0,0) 69px, transparent 69px)0 64px;
background-color:#708090;
background-size: 40px 128px
}