@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);

body, html {
	margin: 0 auto;
	background: rgb(220,220,220);
	position: relative;
}

a {
	text-decoration: none;
	color: inherit;
}

a, h1, h2, h3, h4, p, span, table {font-family: "Quicksand", helvetica neue;font-weight: 400;}

pre, span {font-family: monospace!important;}

strong {
	font-weight: 600;
	color: rgb(200,200,200);
}

weak {
	color: rgb(100,100,100);
}



#editor textarea {font-family: monospace;}

#homeicon {
	width: 100px;
	position: absolute;
	right: 5px;
	top: 5px;
}

#homeicon img {width: 100%;}

/**************Loading**************/
#loadingPage {
	width: 100%;
	height: 100%;
	opacity: 1;
	background: rgb(255,255,255);
	position: fixed;
	z-index: 1001;
	/* -webkit-transition: all .5s ease-in-out; */
}

#loadingPage img {
	display: block;
	position: relative;
	top: 5px;
	width: 30em;
	margin: 0 auto;
}

#loadingPage h2 {
	position: relative;
	top: 20px;
	margin: 0;
	text-align: center;
	font-size: 2em;
}

/**************Creation**************/

h1 {
	margin: 0 0 10px 0;
	padding: 5px;
	border-bottom: solid 4px rgb(255,200,0);
	width: 80%;
}

#newOptions {
	background: rgb(200,200,200);
	width: 50%;
}

#newOptions h3 {
	background: rgb(40,40,80);
	color: rgb(255,255,255);
	padding: 5px;
	margin: 0;
}

#newOptions a {
	display: block;
	margin-bottom: 5px;
	padding: 5px;
}

#newOptions a:hover {
	background: rgb(40,40,80);
	color: rgb(255,255,255);
}

.creatorForm {
	
	
	
	
}

/**************Text Edit**************/

#editor { 
    margin: 0;
    position: relative;
    width: 100%;
    height: 90%;
}

form {
	padding: 5px;
}

form h2 {
	background: rgb(40,40,80);
	color: rgb(255,255,255);
	padding: 5px;
	margin-bottom: 5px;
	display: inline-block;
	box-shadow: 4px -4px 0 rgb(255,255,255);
}

.editorTable {
	display: block;
	width: 90%;	
}

.editorTable td:first-of-type {
	font-size: 1.4em;
	display: inline;
	padding-left: 2px;
	background: rgb(255,200,0);
}

.editorTable td input{
	width: 90%;
	display: block;
	font-size: 1.4em;
	border: 4px solid rgb(0,0,0);
	margin: 0;
}

form input {
	display: block;
	font-size: 1.4em;
	border: 4px solid rgb(0,0,0);
}

form textarea {
	display: block;
	border: 4px solid rgb(0,0,0);
	font-size: 16px;
	margin-bottom: 15px;
}

form button {
	border-radius: 0;
	background: rgb(0,0,0);
	color: rgb(255,255,255);
	font-size: 30px;
	border:none;
}

/**************Edit Table**************/

#ajaxTableData {
	display:inline-block;
	color: rgb(120,120,120);
}

#blogForm {
	background: rgb(40,40,80);
	overflow-x: hidden;
}

#blogForm table {
	width: 100%;
}

#blogForm table th {
	background: rgb(255,255,255);
	width: 20%;
}

#blogForm table td {width: 80%;}

#editIcons {
	position: fixed;
	z-index: 500;
	right: 5px;
	top: 15px;
	background: rgb(255,200,0);
	box-shadow: -6px -6px 0 rgb(255,255,255);
	border: 4px solid rgb(40,40,80);
	padding-bottom: 20px;
}

#editIcons a {
	-webkit-transition: all .5s ease-out;
	position: relative;top:0;
	padding-right:5px;
	display:block;
	right: 0;
}
#editIcons a:hover {right: 20px;background:rgb(255,255,255);box-shadow: 0 0 15px 5px rgb(0,0,0);}

#editIcons img {
	width: 50px;
}

/**************Success Alerts**************/

#successBox, #failBox {
	position: absolute;
	z-index: -5;
	margin: 0 auto;
	background: rgba(255,255,255,.5);
	background: -webkit-linear-gradient(45deg, 
		rgb(100,100,100) 0%, rgb(255,200,0) 30%, 
		rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%
	);
	background-size: 5px;
	padding: 5px 5px 0 5px;
	border: 4px solid rgb(0,0,0);
	opacity: 0;
	display: inline-block;
	max-width: 20em;
	left: 250px;
	top: 50px;
	-webkit-transition: all .5s linear;
}

#successBox span {position: relative; top: -5px;background: rgb(150,150,255);padding:5px;z-index: 100;}

#successBox p, #failBox p {
	position:relative;
	margin-top: 5px;
	width: 100%;
	padding: 5px 0;
	text-align: center;
}

#successBox p {background: rgb(150,150,255);}
#failBox p {background: rgb(255,0,0);}

/**************Blog Editor**************/
#workingPost {
	padding: 5px;
}

#workingPost h4 {margin: 0;display: inline;}

#workingPost a {font-size: 20px; color: rgb(160,160,255);}

#postTitle {width: 80%;}

#editorNav {
	position: relative;
	width: 80%;
	margin-top: 20px;
	background:rgb(40,40,80);
	background: -webkit-linear-gradient(45deg, 
		rgb(40,40,80) 0%, rgb(40,40,80) 70%,
		rgba(0,0,0,0) 70%, rgba(0,0,0,0)
	);
	color: rgb(255,255,255);
	padding: 0 0 0 5px;
	
}

#editorNav a {
	border: 4px solid rgb(255,200,0);
	border-radius: 0 15px 0 0;
	padding: 5px;
	margin-right: 5px;
	z-index: 500;
	-webkit-transition: all .5s ease-out;
}

#editorNav a:hover {
	background: rgb(40,40,80);
	color: rgb(255,255,255);
}

.editorTypeOn {
	background: rgb(255,200,0);
	color: rgb(40,40,80);
/* 	width: 40%; */
}

.editorTypeOff {
	background: rgb(255,255,255);
	color: rgb(0,0,0);
}

#blogFileManager {
	background: rgb(100,100,100);
	color: rgb(255,255,255);
	border-left: 8px solid rgb(40,40,80);
	border-bottom: 8px solid rgb(40,40,40);
	width: 75%;
	height: 16em;
	position: relative;
	left: 20px;
	padding: 10px;
	overflow-y: auto;
}

#blogFileManager h4 {
	background: rgb(255,255,255);
	color: rgb(0,0,0);
	padding: 5px;
	width: 50%;
	margin: 0 0 10px 0;
}

#blogFileManager img {
/* 	float: left; */
	width: 110px;
	display: block;
	position: absolute;
	left:10px;
	top: 3em;
}

#blogFileManager div {
	padding-left: 120px;
	
	
}

#blogFileManager a {
	max-width: 99%;
	width: auto;
	display: block;
	/* background: rgb(255,200,0); */
	color: rgb(40,40,80);
	border: 4px solid rgb(255,200,0);
	padding: 2px;
	margin: 0 5px 5px 0;
	-webkit-transition: all .5s ease-in-out;
}

#blogFileManager a:hover {background:rgb(40,40,80);color:rgb(255,255,255)}

.fileOn {background: rgb(255,200,0);}
.fileOff {background: rgb(255,255,255);}

#newPanel {
	position: fixed;
	display: none;
	float: left;
	top: 2em;
	right:30%;
	z-index: -5;
	opacity: 0;
	will-change: transform, opacity;
	-webkit-transform: rotateY(90deg);
	width: 60%;
	padding: 5px 5px 20px 5px;
	border: 6px solid rgb(40,40,80);
	background: rgb(255,200,0);
	box-shadow: 0 0 20px 0 rgb(0,0,0);
	-webkit-transition: all .7s ease-out;
	-webkit-transform-style: preserve-3d;
}

#newPanel h2{
	text-align: center;
	font-size: 2em;
	margin-top:0;
	padding: 5px 0;
	border-bottom: 2px solid rgb(0,0,0);
}

#newPanel form {
	width: 95%;
	padding: 5px;
	position: relative;
	margin: 0 auto;
	background: rgb(255,255,255);
	border: 1px solid rgb(0,0,0);
}

#newPanel form h3 {
	margin-top: 0;
	padding: 5px;
	border-bottom: 2px solid rgb(0,0,0);
	width: 90%;
}

#newPanel form textarea {
	position: relative;
	width: 90%;
	margin: 0 auto;
	margin: 10px;
}

#newPanel button {
	display:block;
	width: 100%;
	text-align: center;
}

#newPanelOn {
	z-index: 500;
	opacity: 1;
	-webkit-transform: rotateY(0deg);
}

#newExit {
	float:right;
	padding: 5px;	
	background: rgb(220,220,220);
}



